body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(226, 169, 240);
}


.containerprinc{
    background-color: #512da8;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;

}

.logo img {
    width: 150px;
}

.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li  {
    display: inline;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin:10px;
    font-weight: 700;
}

#divBusca{
    background-color:#E0EEEE;
    border-radius:10px;
    width:300px;
    height:32px;
  }
  
  #txtBusca{
    float:left;
    background-color:transparent;
    padding-left:10px;
    font-size:18px;
    border:none;
    text-decoration: none;
    height:32px;
    width: 280px;
  }
  
.carrinho {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin: 30px;
}

.divcarrinho{
    all: unset;
    cursor: pointer;
    outline: revert;
    margin: 10px;
    width: 30px;
    height: 30px;
}