body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    line-height: 1.6;
    background-color: rgba(214, 182, 255, 0.918);
    color: rgb(85, 14, 201);

}

h2{
    font-size: 16px;
    margin:2px;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 75px;
    color: rgb(86, 2, 155);
    text-shadow: 6px 6px 15px hsl(263, 80%, 46%);
    display: flex;
    text-align: center;
}

.div_princ{
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


input{
    background:  hsl(263, 88%, 75%);
}

input::placeholder {
    font-weight: bold;
    opacity: 0.5;
    color: rgb(0, 0, 0);
}

select{
    background:  hsl(263, 88%, 75%);
    color: rgb(60, 51, 77);
}

textarea {
    background: hsl(263, 88%, 75%);
}

textarea::placeholder{
font-weight: bold;
opacity: 0.5;
color: rgb(0, 0, 0);
}


button {
    width: 120px;
    height: 30px;
    border-radius: 5px;
    border: 0;
    color: rgb(255, 255, 255);
    background-color: #8236fc;
    margin: 10px;
    align-items: center;
}
