body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(226, 169, 240);
}

h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    color: rgb(86, 2, 155);
    text-shadow: 6px 6px 15px hsl(263, 80%, 46%);
    display: flex;
    text-align: center;
}

.img{
        max-width: 100%;
        height: auto;
}


.produtos img{
    width: 400px;

}

.bannerpric{
    align-items: center;
    justify-content: center;
    display: flex;
}

.banner{
    width: 700px;
    background-color: rgb(106, 65, 218);
    margin-top: 5px;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    position: 0 5%;
    height: 85px;
}

.lado-esquerdo-menu{
    display: flex;
    gap: 50px;
}

.lado_direito-menu{
    display: flex;
    align-items: center;
    gap: 50px;
}

.linepric{
    display: flex;
    align-self: center;
    justify-content: center;
}

.line{
    height: 1px;
    background-color: #ddd;
    width: 90%;
}

nav ul li{
    display: inline-block;
    margin-right: 30px;
}

nav ul li{
    text-decoration: none;
    color: rgba(173, 116, 226, 0.705);
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(226, 169, 240);
}

.img{
    width: 80px;
    height: 60px;
}

.produtos img{
    width: 400px;

}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    position: 0 5%;
    height: 85px;
}

.lado-esquerdo-menu{
    display: flex;
    gap: 50px;
}

.lado_direito-menu{
    display: flex;
    align-items: center;
    gap: 50px;
}

.linepric{
    display: flex;
    align-self: center;
    justify-content: center;
}

.line{
    height: 1px;
    background-color: #ddd;
    width: 90%;
}

nav ul li{
    display: inline-block;
    margin-right: 30px;
}

nav ul li{
    text-decoration: none;
    color: rgba(173, 116, 226, 0.705);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 85px);
    gap: 100px;
}

.lado-esquerdo{
    display: flex;
    flex-direction: column;
    width: 1005;
}

.items{
    align-self: flex-end;
}

.select-image{
    max-width: 500px;
    border: radius 10px;

}

.select-image img{
    width: 100%;
}

.thumbnails{
    display: flex;
    justify-content: space-evenly;
    max-width: 500px;
    gap: 10px;
}

.thumbnail img{
    width: 70px;
    border-radius: 10px;

}

.content{
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.lado-direito{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.lado-direito p{
    font-size: 14px;
}

.minus img {
    width: 20px;
}

.plus img {
    width: 20px;
}

.precos{
    display: flex;
    flex-direction: column;
}

.preco{
    font-size: 16px;
    font-weight: 700;
}

.off{
    font-size: 13px;
    color: rgb(152, 15, 216);
}

.options{
    display: flex;
    gap: 20px;
}
.amount{
    display: flex;
    align-items: center;
    gap: 30px;
    background-color: rgb(171, 100, 236);
    width: fit-content;
    padding: 10px 20px;
    border-radius: 10px;
}

.amount span{
    font-weight: 700;
    font-size: 12px;
}

.minus, .plus{
    cursor: pointer;
}

.button{
    display: inline-block;
    text-decoration: none;
    color: antiquewhite;
    background-color: #8236fc;
    padding: 10px 35px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 5px;
    font-size: 12px;
    font-weight: 700;
}

.button img{
    width: 17px;
}

.produtos img{
    width: 400px;
    margin-bottom: 10px;
}

.produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.produtos article {
    width: 250px;
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid  #926adb;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.produtos h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.produtos p {
    font-size: 14px;
    line-height: 1.5;
}

.produtos .preco {
    font-size: 16px;
    font-weight: bold;
    color: #a46fe0;
    margin-top: 10px;
}

.produtos a {
    background-color: #682bf7;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
}


img {
    max-width: 100%;
    height: auto;
}

