@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f1ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
}

header {
    background: linear-gradient(to right, #5c6bc0, #512da8);
    color: #fff;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo img {
    height: 50px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

nav ul li a:hover {
    color: #ddd;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-right input[type="text"] {
    padding: 5px;
    border: none;
    border-radius: 3px;
    margin-right: 10px;
}

.header-right button {
    padding: 6px 12px;
    border: none;
    border-radius: 3px;
    background-color: #97a1d4;
    color: #333;
    cursor: pointer;
    font-size: 16px;
}

.header-right button:hover {
    background-color: #97a1d4;
}

.cart-button {
    margin-left: 10px;
    background-color: #08f;
    color: #fff;
}

.cart-button:hover {
    background-color: rgb(13, 21, 29);
}

.login-button{
    margin-left: 10px;
    background-color: #08f;
    color: #fff;
}


main {
    margin-top: 80px;
    padding: 20px;
}

.product-view-section {
    padding: 20px;
    background-color: #97a1d4;
    border-radius: 10px;
    margin: 0 20px;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.product-image img {
    max-width: 400px;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.product-details {
    max-width: 600px;
    color: #000000;
}

.product-details h1 {
    margin-bottom: 20px;
}

.product-details p {
    margin-bottom: 20px;
}

.price {
    font-size: 24px;
    color: #512da8;
}

.add-to-cart-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #512da8;
    color: #c9c2c2;
    cursor: pointer;
    font-size: 18px;
}

.add-to-cart-button:hover {
    background-color: #512da8;
}

h1{
    color: #512da8;
    justify-content: center;
    display: flex;
}

.produtos img{
    width: 400px;
    margin-bottom: 10px;
}


img {
    max-width: 100%;
    height: auto;
}

.produtos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.semelhantes{
    display: flex;
    justify-content: space-around;
    flex-direction: row;

}


.produtos article {
    width: 250px;
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid  #926adb;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.produtos h3 {
    font-size: 18px;
    margin-bottom: 5px;
}


.produtos p {
    font-size: 14px;
    line-height: 1.5;
}


.produtos .preco {
    font-size: 16px;
    font-weight: bold;
    color: #a46fe0;
    margin-top: 10px;
}

.produtos a {
    background-color: #682bf7;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
}

